@{
    ViewBag.Title = "DisplayGrid";
}

<h2>Display Grid</h2>

@Html.TextBox("fromdate", null, new
{
    @class = "form-control", placeholder = "From", id = "FromDate", Name = "fromdate", data_mvcgrid_option = "FromDate", data_mvcgrid_type = "filter"
})
<button data-mvcgrid-apply-filter="click"
        type="button">
    Apply
</button>

@Html.MVCGrid((string) ViewBag.GridName)